<!--
Author: Keny Dutton-Gillespie and Cherie Menchaca
File Name: menu.html
File Description: Menu page for KC Bakery site
-->
<include href="views/header.html"></include>
<body>

<div class="container">

    <include href="views/navbar.html"></include>

    <br>
    <form action="#" method="post">
    <div class="row text-center m-5"> <!-- PASTRIES START -->
        <div class="col-md-12">
                <h4 class="submenu_title">Pastries</h4>
                <div class="row">
                    <repeat group="{{ @pastryImage }}" value="{{ @image }}">
                        <div class="col-md-3 item-holder">
                            <img class="menu-item" src="{{ 'images/'.@image }}">
                        </div>
                    </repeat>

                    <repeat group="{{ @pastry }}" value="{{ @pastryTag }}">
                        <div class="col-md-3 item-holder">
                            <!--<h5>{{@pastryTag}}</h5> -->
                            <label><input type="checkbox" name="pastries[]" class="form-check-input menu-check"
                                          value="{{@pastryTag}}">
                                {{ucfirst(@pastryTag)}}</label>
                            <!--<button type="button" class="add-btn btn btn-danger" value="Croissant">+</button> -->
                        </div>
                    </repeat>
                    <!-- display error if there is one -->
                    <check if="{{ isset(@errors['pastry']) }}">
                        <span class="text-danger">{{ @errors['pastry'] }}</span>
                    </check>
                </div>
        </div>
    </div> <!-- END OF PASTRIES -->

    <br>

    <div class="row text-center m-5"> <!-- DONUT START -->
        <div class="col-md-12">
            <h4 class="submenu_title">Donut</h4>
            <div class="row">

                <repeat group="{{ @donutImage }}" value="{{ @image }}">
                    <div class="col-md-3 item-holder">
                        <img class="menu-item" src="{{ 'images/'.@image }}">
                    </div>
                </repeat>

                <repeat group="{{ @donut }}" value="{{ @donutTag }}">
                    <div class="col-md-3 item-holder">
                        <!--<h5>{{@pastryTag}}</h5> -->
                        <label><input type="checkbox" name="donuts[]" class="form-check-input menu-check"
                                      value="{{@donutTag}}">
                            {{ucfirst(@donutTag)}}</label>
                        <!--<button type="button" class="add-btn btn btn-danger" value="Donut">+</button> -->
                    </div>

                    <!-- display error if there is one -->
                    <check if="{{ isset(@errors['donut']) }}">
                        <span class="text-danger">{{ @errors['donut'] }}</span>
                    </check>
                </repeat>
            </div>
        </div>
    </div> <!-- END OF DONUT -->

    <br>

    <div class="row text-center m-5">  <!-- SANDWICH START -->
        <div class="col-md-12">
            <h4 class="submenu_title">Sandwiches</h4>
            <div class="row">

                <repeat group="{{ @sandwichImage }}" value="{{ @image }}">
                    <div class="col-md-3 item-holder">
                        <img class="menu-item" src="{{ 'images/'.@image }}">
                    </div>
                </repeat>

                <repeat group="{{ @sandwich }}" value="{{ @sandwichTag }}">
                    <div class="col-md-3 item-holder">
                        <!--<h5>{{@pastryTag}}</h5> -->
                        <label><input type="checkbox" name="sandwiches[]" class="form-check-input menu-check"
                                      value="{{@sandwichTag}}">
                            {{ucfirst(@sandwichTag)}}</label>
                        <!--<button type="button" class="add-btn btn btn-danger" value="Donut">+</button> -->
                    </div>
                </repeat>
                <!-- display error if there is one -->
                <check if="{{ isset(@errors['sandwich']) }}">
                    <span class="text-danger">{{ @errors['sandwich'] }}</span>
                </check>
            </div>
        </div>
    </div><!-- END OF SANDWICHES -->

    <br>

    <div class="row text-center m-5"> <!-- SPECIALTY ITEMS -->
        <div class="col-md-12">
            <h4 class="submenu_title">Specialty Items</h4>
            <div class="row">

                <repeat group="{{ @specialityImage }}" value="{{ @image }}">
                    <div class="col-md-3 item-holder">
                        <img class="menu-item" src="{{ 'images/'.@image }}">
                    </div>
                </repeat>

                <repeat group="{{ @specialty }}" value="{{ @specialtyTag }}">
                    <div class="col-md-3 item-holder">
                        <!--<h5>{{@pastryTag}}</h5> -->
                        <label><input type="checkbox" name="specialtyItems[]" class="form-check-input menu-check"
                                      value="{{@specialtyTag}}">
                            {{ucfirst(@specialtyTag)}}</label>
                        <!--<button type="button" class="add-btn btn btn-danger" value="Donut">+</button> -->
                    </div>
                </repeat>
                <!-- display error if there is one -->
                <check if="{{ isset(@errors['specialty']) }}">
                    <span class="text-danger">{{ @errors['specialty'] }}</span>
                </check>
            </div>
        </div>
    </div> <!-- END OF SPECIALTY -->

    <br>

    <div class="row text-center m-5">  <!-- DRINKS -->
        <div class="col-md-12">
            <h4 class="submenu_title">Drinks</h4>
            <div class="row">

                <repeat group="{{ @drinkImage }}" value="{{ @image }}">
                    <div class="col-md-3 item-holder">
                        <img class="menu-item" src="{{ 'images/'.@image }}">
                    </div>
                </repeat>

                <repeat group="{{ @drink }}" value="{{ @drinkTag }}">
                    <div class="col-md-3 item-holder">
                        <!--<h5>{{@pastryTag}}</h5> -->
                        <label><input type="checkbox" name="drinks[]" class="form-check-input menu-check"
                                      value="{{@drinkTag}}">
                            {{ucfirst(@drinkTag)}}</label>
                        <!--<button type="button" class="add-btn btn btn-danger" value="Donut">+</button> -->
                    </div>
                </repeat>
                <!-- display error if there is one -->
                <check if="{{ isset(@errors['drink']) }}">
                    <span class="text-danger">{{ @errors['drink'] }}</span>
                </check>
            </div>
        </div>
    </div> <!-- END OF DRINKS -->

        <div class="col-xs-3 text-center pb-5">
            <button class="btn btn-danger" type="submit">Go to Cart</button>
        </div>
    </form>
</div> <!-- END OF CONTAINER -->

</body>
</html>