<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2"> <!-- CART BUTTON DIV -->
            <button type="button" class="btn btn-success">
                Button
            </button>
        </div> <!-- END OF CART BUTTON DIV -->
    </div>

    <div class="row"> <!-- PAGE TITLE -->
        <div class="col-md-12 ml-5">
            <h2>Menu</h2>
        </div>
    </div>

    <br>
    <div class="row text-center m-5"> <!-- PASTRIES START -->
        <div class="col-md-12">
            <h4>Pastries</h4>
            <div class="row">
                <div class="col-md-3">
                    <img alt="croissant" src=""/>
                    <h5>Croissant</h5>
                    <button type="button" class="btn btn-danger">+</button>
                </div>
                <div class="col-md-3">
                    <img alt="blueberry muffin" src=""/>
                    <h5>Blueberry Muffin</h5>
                    <button type="button" class="btn btn-danger">+</button>
                </div>
                <div class="col-md-3">
                    <img alt="scone" src=""/>
                    <h5>Scone</h5>
                    <button type="button" class="btn btn-danger">+</button>
                </div>
                <div class="col-md-3">
                    <img alt="danish" src=""/>
                    <h5>Danish</h5>
                    <button type="button" class="btn btn-danger">+</button>
                </div>
            </div>

            <br>
            <div class="row text-center m-5"> <!-- DONUT START -->
                <div class="col-md-12">
                    <h4>Donut</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <img alt="cinnamon sugar donut" src="images/cin_donut.jpeg"/>
                            <h5>Cinnamon Sugar</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="mochi donut" src="images/mochi_donut.jpeg"/>
                            <h5>Mochi Donut</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="chocolate sprinkle donut" src="image/choc_sprink_donut.jpeg"/>
                            <h5>Chocolate Sprinkle</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="coconut cream donut" src="images/coconut_donut.jpeg"/>
                            <h5>Coconut Cream Donut</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                    </div>
                    <br>
                    <h4>Sandwiches</h4> <!-- SANDWICH START -->
                    <div class="row">
                        <div class="col-md-3">
                            <img alt="katsu sandwich" src=""/>
                            <h5>Katsu</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="strawberry sandwich" src=""/>
                            <h5>Strawberry</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="potato sandwich" src=""/>
                            <h5>Potato</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="loco moco sandwich" src=""/>
                            <h5>Loco Moco</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                    </div> <!-- END OF SANDWICHES -->
                    <br>

                    <h4>Specialty Items</h4> <!-- SPECIALTY ITEMS -->
                    <div class="row">
                        <div class="col-md-3">
                            <img alt="tiramisu" src=""/>
                            <h5>Tiramisu</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="tart" src=""/>
                            <h5>Tart</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="butter mochi" src=""/>
                            <h5>Butter Mochi</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="meringue pie" src=""/>
                            <h5>Meringue Pie</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                    </div> <!-- END OF SPECIALTY -->

                    <br>
                    <h4>Drinks</h4> <!-- DRINKS -->
                    <div class="row m-5">
                        <div class="col-md-3">
                            <img alt="coffee" src=""/>
                            <h5>Coffee</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="tea" src=""/>
                            <h5>Tea</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="hot chocolate" src=""/>
                            <h5>Hot Chocolate</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                        <div class="col-md-3">
                            <img alt="lemonade" src=""/>
                            <h5>Lemonade</h5>
                            <button type="button" class="btn btn-danger">+</button>
                        </div>
                    </div> <!-- END OF DRINKS -->
                </div>
            </div>
        </div>

</body>
</html>