<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Favicon -->
    <link rel="icon" id="favicon" type="image/png" href="images/roll.png">

    <title>KC Bakery</title>
</head>
<body>
<div class="container">

    <!--Navbar-->
    <include href="views/navbar.html"></include>

    <div class="row">
        <div class="col-12">
            <div class="row py-5">
                <div class="col-1"></div>
                <div class="col-10 p-5 solidbackground">
                    <h4>Profile Summary</h4>
                    <br>
                    <br>
                    <h5>Member ID:</h5>
                    <br>
                    <h6>Name: </h6>
                    <h6>Phone number: </h6>
                    <h6>Address: </h6>
                    <h6>Email address: </h6>
                    <h6>Birthdate: </h6>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row text-center pt-3 pb-5">
                <div class="col-1"></div>
                <div class="col-10">
                    <table id="order-history">
                        <thead>
                        <tr>
                            <th>Order Date</th>
                            <th>Order Summary</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>10-12-22</td>
                            <td>Mochi, Tea, Tiramisu</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
</body>
</html>