<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>KC Bakery</title>

</head>
<body class="container">
<div class="row mt-3">
    <div class="col-12 px-3">
        <!--Sign Up Title Form-->
        <h2 class="text-center">Sign Up</h2>
        <hr>
        <nav class="navbar navbar-expand-md mt-5 bg-dark">
            <ul id="myNav" class="navbar-nav">
                <li class="nav-item">
                    <a class="nav ml-3 bg-white px-4"href="{{ @BASE }}">Home</a>
                </li>
            </ul>
        </nav>
        <form action="#" method="post" class="form-group" id="signup-form">
            <!--Get data-->
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <label for="first" class="control-label mt-1">First Name:</label>
                            <input class="form-control" type="text"
                                   name="first" id="first" placeholder="First Name" value="{{ @firstName }}">
                        </div>
                        <div class="col-12">
                            <check if="{{ isset(@errors['first']) }}">
                                <span class="err">{{ @errors['first'] }}</span>
                            </check>
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="last" class="control-label mt-4">Last Name:</label>
                            <input class="form-control" type="text"
                                   name="last" id="last" placeholder="Last Name" value="{{ @lastName }}">
                        </div>
                        <div class="col-12">
                            <check if="{{ isset(@errors['last']) }}">
                                <span class="err">{{ @errors['last'] }}</span>
                            </check>
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="phoneNumber" class="control-label mt-4">Phone Number:</label>
                            <input class="form-control" type="text"
                                   name="phoneNumber" id="phoneNumber" placeholder="Phone Number"
                                   value="{{ @phoneNumber }}">
                        </div>
                        <div class="col-12">
                            <check if="{{ isset(@errors['phoneNumber']) }}">
                                <span class="err">{{ @errors['phoneNumber'] }}</span>
                            </check>
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="add" class="control-label mt-4">Address:</label>
                            <input class="form-control" type="text"
                                   name="add" id="add" placeholder="Address" value="{{ @address }}">
                        </div>
                        <div class="col-12">
                            <label for="city" class="control-label mt-4">City:</label>
                            <input class="form-control" type="text"
                                   name="city" id="city" placeholder="City" value="{{ @city }}">
                        </div>
                        <div class="col-12">
                            <check if="{{ isset(@errors['city']) }}">
                                <span class="err">{{ @errors['city'] }}</span>
                            </check>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <label class="mt-5">State: </label>
                            <select class="form-select px-5" name="location" id="location">State

                                <repeat group="{{ @locations}}" value="{{ @location }}">
                                    <option value="{{ @location }}">{{ ucfirst(@location) }}</option>
                                </repeat>
                            </select>
                        </div>

                    </div><!--End of Row-->
                </div> <!--End of col 6-->
                <div class="col-6">
                    <div class="row">

                        <div class="col-md-12">
                            <label for="emailAdd">Email:</label>
                            <input type="text" class="form-control" name="emailAdd" id="emailAdd"
                                   placeholder="Email input"
                                   value="{{ @emailAdd }}">
                        </div>
                        <!--display error if there is one -->
                        <check if="{{ isset(@errors['emailAdd']) }}">
                            <span class="err ml-3">{{ @errors['emailAdd'] }}</span>
                        </check>
                        <br>
                        <div class="col-12">
                            <input type="checkbox" id="premium" name="premium">
                            <label class="control-label mt-4">Would you like to join our Premium Membership? </label>
                        </div>
                    </div>
                    <div class="mt-1">
                        <p>**If you clicked yes to our premium membership please add your birthday, create a username and password.</p>
                    </div>
                    <div class="col-12 mt-3">
                        <label for="user" class="control-label">Create Username:</label>
                        <input class="form-control mt-1" type="text"
                               name="user" id="user" placeholder="username" value="{{ @username }}">
                    </div>
                    <div id="userName" class="col-12 border bg-light mt-3 form-control">
                        <p>**Please enter a username that contains letters and numbers. Must be 8 characters
                            long. It is not case-sensitive.</p>
                    </div>

                    <div class="col-12">
                        <label for="pass" class="control-label mt-3">Create Password:</label>
                        <input class="form-control mt-1" type="text"
                               name="pass" id="pass" placeholder="password" value="{{ @password }}">
                    </div>
                    <div id="passWord" class="col-12 border bg-light mt-3 form-control">
                        <p>**Please enter a password that contains letters and numbers. Must be 8 characters
                            long. It is not case-sensitive.</p>
                    </div>
                </div><!--End of Row-->
                    <div class="col-12">
                        <button class="btn btn-success float-right my-4 px-5"type="submit">Next</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="script/valid_form.js"></script>
</body>
</html>