
body{
    margin: auto;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(to bottom right, rgba(22, 54, 215, 0.48) 17%, rgb(127, 73, 145) 72%, rgba(109, 66, 192, 1) 100%) no-repeat;
}
h1{
    font-size: 75px;
    color: white;
    font-family: "Gill Sans"!important;
}
.login-container{
    margin-left: 115px;
}
.jumbotron{
    height: 90px;
    background-color: orange;
}

.mt-2{
    height: 900px;
    border: 3px solid white;
    background-color: #f5e9af;
}

#logo {
    position: absolute;
    right: -150px;
    top: 400px;
    width: 500px;
}

img {
    ertical-align: middle;
    border-style: none;
}

#strawberry {
    position: absolute;
    top: 300px;
    right: 750px;
    transform: rotate(10deg);
}

.menu-item
{
    width: 200px;
    border: solid 2px mediumpurple;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submenu_title
{
    margin-bottom: 20px;
    font-family: cursive;
    font-size: 45px;
}

.add-btn
{
    margin-top: 10px;
}

.btn-danger
{
    background-color: orangered;
}
