/*
Author: Keny Dutton-Gillespie and Cherie Menchaca
File Name: styles.css
File Description: Styles for KC Bakery site
 */

body{
    margin: auto;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(to bottom right, rgba(22, 54, 215, 0.48) 17%, rgb(127, 73, 145) 72%, rgba(109, 66, 192, 1) 100%) no-repeat;
}
h1{
    font-size: 75px;
    color: white;
    font-family: "Gill Sans"!important;
}

.login-container{
    margin-left: 115px;
}
.jumbotron{
    height: 90px;
    background-color: orange;
}

.mt-2{
    height: 900px;
    border: 3px solid white;
    background-color: #f5e9af;
}

#logo {
    position: absolute;
    right: -150px;
    top: 380px;
    width: 500px;
}
#strawberry {
    position: absolute;
    top: 150px;
    right: 20px;
    z-index: 1000;

}
#mochi_donut{
    border-radius: 30px;
}


img {
    vertical-align: middle;
    border-style: none;
}


.menu-item
{
    width: 200px;
    border: solid 2px mediumpurple;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submenu_title
{
    margin-bottom: 20px;
    font-family: cursive;
    font-size: 45px;
}

.add-btn
{
    margin-top: 10px;
}

.btn-danger
{
    background-color: orangered;
}
.nav-item:hover {
    color: black;
}
a.nav{
    color: black;
}

#welcome-mess
{
    padding-left: 200px;
    padding-right: 100px;
}

#special-mess
{
    padding-left: 200px;
    padding-right: 100px;
}

#favicon
{
    width: 60px;
}

p{
    font-size: 10px;
}
.err{
    color: red;

}
#premium{
    color: white;
    font-size: 12px;
}

#cart-holder
{
    background-color: lavender;
    border-radius: 20px;
    border: orangered solid 1px;
}
